/* ------------------------------------------------------- */

.block-info {
  position: relative;
  padding: 1.5rem;
  max-width: 550px;
  text-align: center;
  height: 100%;
}

.block-info--secondary {
  background-color: var(--bs-secondary);
  color: var(--bs-primary);
}
.block-info--secondary .block-info__button {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-secondary);
  --bs-btn-active-bg: rgb(var(--bs-secondary-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-secondary-rgb));
}
.block-info--secondary .block-info__title h5 {
  color: var(--bs-primary);
}


.block-info--primary {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}
.block-info--primary .block-info__button {
  --bs-btn-color: var(--bs-white);
  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-active-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-primary-rgb));
  box-shadow: 3px 3px 5px rgba(var(--bs-primary-rgb),.4);
}
.block-info--primary .block-info__title h5 {
  color: var(--bs-white);
}

.block-info--{{params.scope}} {
  background-color: {{params.styles.bg_color|default:"var(--bs-primary)"}};
}


.block-info--{{params.scope}} .block-info__button {
  --bs-btn-color: {{params.button.text_color|default:"var(--bs-white)"}};
  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-bg: {{params.button.bg_color|default:"var(--bs-primary)"}};
  --bs-btn-hover-bg: {{params.button.bg_color|default:"var(--bs-primary)"}};
  --bs-btn-active-bg: {{params.button.bg_color|default:"var(--bs-primary)"}};
  --bs-btn-active-border-color: {{params.button.bg_color|default:"var(--bs-primary)"}};
  box-shadow: 3px 3px 5px rgba({{params.button.bg_color|default:"var(--bs-primary)"}},.4);
}

.block-info.block-info--{{params.scope}}::after {
  background-image: url({{params.styles.bg_cover}});
}

.block-info--{{params.scope}} .block-info__title h5 {
  color: {{params.styles.title_color|default:'var(--bs-white)'}};
}

.block-info--{{params.scope}} .block-info__text {
  color: {{params.styles.text_color|default:'var(--bs-white)'}};
}

.block-info--order-left {
  margin-left: auto;
}
@media (max-width: 991.98px) {
  .block-info--order-left {
    margin-right: auto;
  }
}
.block-info--order-right {
  margin-right: auto;
}
@media (max-width: 991.98px) {
  .block-info--order-right {
    margin-left: auto;
    margin-top: 2rem;
  }
}
.block-info--left {
  text-align: left;
}
.block-info--left .block-info__title h5 {
  width: auto;
  text-align: left;
}
.block-info--left .block-info__title h5::after {
  content: "";
  bottom: 0;
  left: 0;
  transform: translateX(0);
}
.block-info__container {
  position: relative;
  z-index: 11;
}
.block-info::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.1;
  background-image: url({{params.styles.bg_cover}});
  z-index: 10;
}
.block-info__title h5 {
  width: max-content;
  padding-bottom: 20px;
  position: relative;
}
.block-info__title h5::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: currentColor;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.block-info__button {
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: .7rem;
  --bs-btn-font-weight: 600;
}
