{% load get_widget generate_type_data %}




<section class="blog-listing">
  <div class="container py-5">
   
    <div class="blogs__list blogs__wrapper blog__list--{{param.variant}} ">


      {% for blog in params.list_blog %}
      <a href="/{{param.base_url}}/{{blog.slug}}/" class="blog__link">
        <div class="blog__item">
          
          <div class="blog__background">
            <img
              src="{{blog.cover}}"
              alt="">
          </div>
          <div class="blog__content">
            <h5 class="blog__title">{{blog.title}}</h5>
            <p class="blog__date">{{blog.date_publication}}</p>
          </div>
        </div>
      </a>

      {%endfor%}
    </div>
    <nav class="py-5 d-flex justify-content-center" aria-label="Page navigation">
      <ul class="pagination">
        <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li> -->
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <!-- <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
      </ul>
    </nav>
  </div>
</section>