    .inscription {
        position: relative;
        z-index: 1;
    }

    .inscription::before {
        content: "";
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background-image: url("https://img.freepik.com/free-vector/large-school-building-scene_1308-32058.jpg?w=996&t=st=1684144951~exp=1684145551~hmac=64076b7ab7f33c809f6a5b9e84362158e7358b1dcedaf090e84d5d387ceb42c2");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: .4;
    }

.inscription-wrapper {
    max-width: 700px;
    padding: 20px 15px;
}

@media (min-width: 768px) {
    .inscription-wrapper {
        padding: 30px 35px;
    }
}

.inscription-desc {
    max-width: 530px;
}

.inscription :where(.form-control, .form-select) {
    padding: 10px 20px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}