<section class="carousel-section">

  <div class="carousel-cover-wrapper position-relative">
    <div class="splide" id="carousel_cover">
      <div class="splide__track">
        <ul class="splide__list">
          {% for item in params.slider_items %}
          <li class="splide__slide">
            <img src="{{item.file}}" alt="{{item.title}}">
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="carousel-cover carousel-cover__content--{{params.mode}}">
      <div class="content__text">
        <h4 class="text-secondary">{{params.content}}</h4>
      </div>
      <a href="{{params.button_primary.url}}" class="btn  content__button content__button--secondary">
        {{params.button_primary.text}}
      </a>
      {% if params.mode == "center" %}
      <a href="{{params.button_primary.url}}" class="btn  content__button content__button--primary">
        {{params.button_secondary.text}}
      </a>
      {% endif %}
    </div>
  </div>
</section>