/* --------------------------------------------------------------------------- */
.carousel-section {
  padding-top: {{ params.styles.offset_top|default:25 }}px;
}
.carousel-section .carousel-cover-wrapper {
  min-height: 300px;
  max-height: 450px;
}
.carousel-section .carousel {
  height: 470px;
}
.carousel-section .carousel-cover__content--bottom {
  transform: translateY(-40%);
  text-align: center;
  margin: 0 auto;
}
.carousel-section .carousel-cover__content--bottom .content__text {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 5rem 4rem 5rem;
  background-color: var(--bs-primary);
  box-shadow: 0px 13px 25px 2px rgba(var(--bs-primary-rgb), 0.25);
}
.carousel-section .carousel-cover__content--bottom .content__text h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0px;
  color: var(--bs-secondary);
}
.carousel-section .carousel-cover__content--center {
  width: 100%;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 11;
}
.carousel-section .carousel-cover__content--center .content__text h4 {
  font-size: 1.7rem;
  color: var(--bs-primary);
  font-weight: 900;
  margin-bottom: 4.5rem;
}
.carousel-section .carousel-cover__content--center .content__button {
  margin: 0.5rem auto;
}
.carousel-section .carousel-cover .content__button {
  transform: translateY(-50%);
  --bs-btn-color: var(--bs-white);
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.9rem;
  --bs-btn-font-weight: 600;
  --bs-btn-hover-color: var(--bs-primary);
}
.carousel-section .carousel-cover .content__button--primary {
  --bs-btn-color: var(--bs-white);
  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-active-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-primary-rgb));
}
.carousel-section .carousel-cover .content__button--secondary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-secondary);
  --bs-btn-active-bg: rgb(var(--bs-secondary-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-secondary-rgb));
}
.carousel-section .splide__arrow {
  padding: 0.8rem;
  background-color: var(--bs-primary);
  border-radius: 50%;
}
@media (max-width: 756px) {
  .carousel-section .splide__arrow {
    display: none;
  }
}
.carousel-section .splide__arrow--prev {
  left: 1rem;
}
@media (min-width: 756px) {
  .carousel-section .splide__arrow--prev {
    left: 10%;
  }
}
.carousel-section .splide__arrow--next {
  right: 1rem;
}
@media (min-width: 756px) {
  .carousel-section .splide__arrow--next {
    right: 10%;
  }
}
.carousel-section .splide__arrow svg {
  width: 1.5rem;
  fill: var(--bs-white);
}
.carousel-section .splide__list {
  min-height: 350px;
}
.carousel-section .splide__slide img {
  height: 100%;
}