/* --------------------------------------------------------------------------- */
.carousel-section {
  padding-top: {{ params.styles.offset_top|default:25 }}px;
}
.carousel-section .carousel-cover-wrapper {
  /* min-height: 300px;
  max-height: 450px; */
}
.carousel-section .carousel {
  height: 470px;
}
.carousel-section .carousel-cover__content--bottom {
  /* transform: translateY(-40%); */
  text-align: center;
  margin: 0 auto;
  margin-top: -75px;
}
.carousel-section .carousel-cover__content--bottom .content__text {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 5rem 4rem 5rem;
  background-color: {{params.background_content|default:'var(--bs-primary)'}};
  {% if params.background_content %}
  box-shadow: 0px 13px 25px 2px rgba(var(--bs-tertiary-rgb), 0.25);
  {% else %}
  box-shadow: 0px 13px 25px 2px rgba(var(--bs-primary-rgb), 0.25);
  {% endif %}
 
  position: relative;
  colgroup
}
.carousel-section .carousel-cover__content--bottom .content__text h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0px;
  color: var(--bs-white);
}
.carousel-section .carousel-cover__content--center {
  width: 100%;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 11;
}
.carousel-section .carousel-cover__content--center .content__text h4 {
  font-size: 1.7rem;
  color: var(--bs-primary);
  font-weight: 900;
  margin-bottom: 4.5rem;
}
.carousel-section .carousel-cover__content--center .content__button {
  margin: 0.5rem auto;
}
.carousel-section .carousel-cover .content__button {
  transform: translateY(-50%);
  --bs-btn-color: var(--bs-white);
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.9rem;
  --bs-btn-font-weight: 600;
  --bs-btn-hover-color: var(--bs-primary);
}
.carousel-section .carousel-cover .content__button--primary {
  --bs-btn-color: var(--bs-white);
  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-active-bg: rgb(var(--bs-primary-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-primary-rgb));
}
.carousel-section .carousel-cover .content__button--secondary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-active-color: var(--bs-btn-color);
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-secondary);
  --bs-btn-active-bg: rgb(var(--bs-secondary-rgb));
  --bs-btn-active-border-color: rgb(var(--bs-secondary-rgb));
}
.carousel-section .splide__arrow {
  padding: 0.8rem;
  background-color: var(--bs-primary);
  border-radius: 50%;
}
@media (max-width: 756px) {
  .carousel-section .splide__arrow {
    display: none;
  }
}
.carousel-section .splide__arrow--prev {
  left: 1rem;
}
@media (min-width: 756px) {
  .carousel-section .splide__arrow--prev {
    left: 10%;
  }
}
.carousel-section .splide__arrow--next {
  right: 1rem;
}
@media (min-width: 756px) {
  .carousel-section .splide__arrow--next {
    right: 10%;
  }
}
.carousel-section .splide__arrow svg {
  width: 1.5rem;
  fill: var(--bs-white);
}
.carousel-section .splide__slide img {
  height: 100%;
  min-height: 350px;
  max-height: 450px;
  width: 100%;
}


@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0;
}
.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1;
}
.splide--rtl {
  direction: rtl;
}
.splide__track--ttb > .splide__list {
  display: block;
}
.splide__container {
  box-sizing: border-box;
  position: relative;
}
.splide__list {
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}
.splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}
.splide__progress__bar {
  width: 0;
}
.splide {
  position: relative;
  visibility: hidden;
}
.splide.is-initialized,
.splide.is-rendered {
  visibility: visible;
}
.splide__slide {
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}
.splide__slide img {
  vertical-align: bottom;
}
.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}
.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none;
}
.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}
.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}
