<section class="carousel-section">
  <div class="carousel-cover-wrapper">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for item in params.slider_items %}
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="{{item.background}}" class="d-block w-100" alt="...">
        </div>
        {% endfor %}
        
      </div>
      <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-icon carousel-control-icon__prev" aria-hidden="true">
          <i class="fa-solid fa-chevron-left"></i>
        </span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-icon carousel-control-icon__next" aria-hidden="true">
          <i class="fa-solid fa-chevron-right"></i>
        </span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="carousel-cover__content--{{params.mode}}">
      <div class="content__text">
        <h4 class="text-secondary">{{params.content.text}}</h4>
      </div>
      <a href="#" class="btn btn-secondary content__button content__button--secondary">
        Formulaire de Pré-inscriptions
      </a>
      {% if params.mode == "center" %}
      <a href="#" class="btn btn-primary content__button content__button--primary ">
        Formulaire de Pré-inscriptions
      </a>
      {% endif %}
    </div>
  </div>
</section>