.testimonials {

  padding: 6rem 0rem 2.5rem 0;
  background: url("https://bucket.tech-dynamics.ma/media-storage/f3faf2c2-4f38-4406-a703-7eafec3b59e2/614da95f/90786568.webp") no-repeat;
  // Default 

  &__default {

              
    .testimonials__wrraper {
      max-width: 850px;
      margin-left: auto;
    }

    .testimonial__content {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      @media (min-width: 992px) {
        flex-direction: row;
        gap: 6rem;
      }
    }

    .testimonial__text {
      margin-bottom: 2.5rem;
    }

    .testimonial__name {
      text-align: right;
    }

    // Splide
    
    .splide__track {
      max-width: 100%;
      margin: 0 auto;
    }

    .splide__arrow {
      display: none;
    }

    
  }

  

  .content__profile {
    max-width: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;

    @media (min-width : 992px ) {
      max-width: 250px;
    }
  }

  .testimonial__text {
    color: #000;
    line-height: 1.3rem;
  }

  // Splide 

  

  .splide__arrow--prev {
    left: 0;
  }
  .splide__arrow--next {
    right: 0;
  }

  .splide__pagination {
    &__page {
        background: var(--bs-secondary);
        border: 0;
        border-radius: 50%;
        display: inline-block;
        height: 12px;
        margin: 0 0.2rem;
        padding: 0;
        position: relative;
        transition: background-color .2s ease,color .2s ease;
        width: 12px;
        opacity: .7;

      &.is-active {
        background-color: var(--bs-secondary);
        opacity: 1;
      }
    }
  }

  
}