
.program-list {

  &__wrapper {
    padding: 2rem;
    background-color: #f4f3f9;
    max-width: 850px;
    margin: 0 auto;
  }

  &__title {
    color: var(--bs-primary);
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__content {

    font-size: 17px;

    ul li {
      list-style: none;
      line-height: 3rem;
    } 

    ul li::before {
      content: "";
      display: inline-block;
      position: relative;
      width: 15px;
      aspect-ratio: 1;
      background-color: var(--bs-secondary);
      margin-right: 20px;
      border: 5px solid var(--bs-primary);
      border-radius: 50%;
      vertical-align: middle;
    }
  }
}