.hero {
  position: relative;
  padding: {{params.styles.offset_top|default:'4'}}rem 0 4rem 0;
  background-color: {{params.background_color}};
  
}
.hero__cover {
  padding: 6rem 0rem;
  background-color: var(--bs-primary);
}
.hero__cover .hero__title {
  position: relative;
  color: var(--bs-secondary);
  z-index: 11;
}
.hero__cover::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url({{params.background_image}});
  background-position: center;
  background-size: cover;
  opacity: 0.1;
}
.hero__title {
  color: var(--bs-primary);
}

.title-border-center {
  width: max-content;
  padding-bottom: 15px;
  text-align: center;
  position: relative;
}
.title-border-center::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: currentColor;
}