.partners .splide__slide {
  position: relative;
  display: grid;
  place-items: center;
  padding-inline: 10px;
  height: 55px;
}

.partners .splide__slide > img {
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0; top: 0;
}