.partners ul {
  list-style: none;
}

.grid__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding-left: 0rem;
}

.grid__partner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
  width: 200px;
  aspect-ratio: 1;
  border: 1px solid var(--bs-gray-400);
}

.partner__logo {
  max-width: 100%;
}