.hero {
  
  padding-top: 0px;

  

  &__text &__background {
    position: relative;
    padding: 4rem 0;
    background-color: #eaeaf6;
  }

  &__cover &__background {
    position: relative;
    padding: 6rem 0rem;
    background-color: var(--bs-primary);

    .hero__title {
      position: relative;
      color: var(--bs-secondary);
      z-index: 11;
    }
    
  }

  &__cover &__background::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://bucket.tech-dynamics.ma/media-storage/f3faf2c2-4f38-4406-a703-7eafec3b59e2/e0e3764e/b8edad33.webp");
    background-position: center;
    background-size: cover ;
    opacity: .1;
  }

  &__title {
    color: var(--bs-primary);
  }

}
