

<section class="recrutement-listing">
  <div class="container py-5">
    <div class="recrutement__list  recrutement__list--{{params.variant}}">
      {% for carrer in params.list_carrer%}
      <div class="recrutement__card">
        <div class="recrutement__content">
          <h4 class="recrutement__title">{{carrer.title}}</h4>
          <p class="recrutement__city {% if params.hide_city == 'true'%} d-none {%endif%}">20/12/2023</p>
          <p class="recrutement__date {% if params.hide_date == 'true'%} d-none {%endif%}"></p>
          <div class="recrutement__description {% if params.hide_description == 'true'%} d-none {%endif%}">
            {{carrer.content_html|striptags|truncatewords:35}}
          </div>
        </div>
        <div class="recrutement__button-wrapper">
          <a href="/details-offre/{{carrer.slug}}/" class="btn recrutement__button">lire plus</a>
          <a href="/details-offre/{{carrer.slug}}/" class="recrutement__link">lire plus <i class="fa-solid fa-arrow-right ms-1"></i></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>