{% load get_widget generate_type_data %}




<section class="blog-listing">
  <div class="container py-5">
    {% generate_type_data request=request name='styles' data='{"type":"primary","align":"center", "offset_y" : "0", "offset_x" : "0", "weight" : "600"}' mode='object' %}
    {% get_widget request=request slug="title-widget-education"  title=params.title element="h2" scope="article_similaire" variant="border-left" styles=request.get_datas.styles %}
    <div class="blogs__list blogs__wrapper blog__list--column">      
      {% for blog in params.list_blog.list %}
      <a href="/{{params.base_url}}/{{blog.slug}}/" class="blog__link">
        <div class="blog__item">
          
          <div class="blog__background">
            <img
              src="{{blog.cover}}"
              alt="">
          </div>
          <div class="blog__content">
            <h5 class="blog__title">{{blog.title}}</h5>
            <p class="blog__date">{{blog.date_publication}}</p>
          </div>
        </div>
      </a>

      {%endfor%}
    </div>
  </div>
</section>