{% load get_widget generate_type_data %}

<section class="curriculum">
  <div class="container py-5">
    {% generate_type_data request=request name='styles' data='{"type":"primary","align":"center", "offset_y" : "48", "offset_x" : "0", "weight" : "600", "padding_bottom" : "50"}' mode='object' %}
    {% get_widget request=request slug="title-widget-education"  title=params.title element="h1" variant="border-center" scope="curriculum_title" styles=request.get_datas.styles %}

    
    <div class="curriculum__list cards-wrapper">
      {% for cursus in params.list_cursus %}
        {% if not cursus.slug == params.exclude %}
          <!-- <div class="col-sm-12 col-md-6 col-lg-4"> -->
            <div class="curriculum__item {{params.variant}}">
              <div class="curriculum__img">
                <img src="{{cursus.cover}}" alt="{{cursus.title}}">
              </div>
              <div class="curriculum__content">
              <h4 class="curriculum__title">{{cursus.title}}</h4>
              <p class="curriculum__info">{{cursus.sub_title}}</p>
              <p class="curriculum__description">
                {{cursus.description|striptags|safe}}
              </p>
              <div class="text-center">
                <a href="/{{params.base_url}}/{{cursus.slug}}/" class="btn curriculum__button mx-auto">{{params.button.text|default:"Plus d'information"}}</a>
              </div>
            </div>
          <!-- </div> -->
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>