/* shared */
.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}

.service,
.activity {
  position: relative;
  z-index: 1;
}

.service::after,
.activity::after {
  content: "";
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  background-color: {{params.background_color|default:'#fefefe'}};
  height: {{params.background_height|default:'50%'}};
  z-index: -1;
}

/* services */
.service .cards-wrapper .card-icon {
  width: fit-content;
  max-width: 200px;
  padding: 12px;
}
.service .cards-wrapper .card-title {
  color: var(--card-color);
}
.service .cards-wrapper .card-desc {
  /*color: var(--card-desc-color, rgba(0, 0, 0, .5));*/
}

/* activities */
.activity .cards-wrapper .card {
  background: var(--card-color);
  color: #ffffff;
}

.activity .cards-wrapper .card-icon {
  width: fit-content;
  max-width: 120px;
  padding: 12px;
}