{% load generate_type_data assign_variable create_variable get_translate_value %}


{% if params.links %}
    {% generate_type_data request=request name="links" data="[{ 'name' : 'Accueil', 'url' : '#', 'tag' : 'home' }, { 'name' : 'Agence', 'url' : '#', 'tag' : 'agence' }, { 'name' : 'Services', 'url' : '#', 'tag' : 'services' }, { 'name' : 'Carriére', 'url' : '#', 'tag' : 'carrer' }, { 'name' : 'Contact', 'url' : '#', 'tag' : 'contact' } ]" %}
{% endif %}

{% if request.menus.header|length == 1 %}
    {% create_variable context=params name="links" value=request.menus.header.0.links %}
{% endif %}

<header>
  <div class="header-bar">
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-md-between gap-2 py-2">
      <div class="social-media d-flex gap-3 fs-5">
        {% if params.facebook %}
          <a href="{{params.facebook|default:'https://facebook.com'}}" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        {% endif %}

        {% if params.twitter %}
        <a href="{{params.twitter|default:'https://twitter.com'}}" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        {% endif %}

        {% if params.instagram %}
          <a href="{{params.instagram|default:'https://instagram.com'}}" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        {% endif %}

        {% if params.linkedin %}
          <a href="{{params.linkedin|default:'https://linkedin.com'}}" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        {% endif %}

        {% if params.youtube %}
          <a href="{{params.youtube|default:'https://youtube.com'}}" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        {% endif %}
        
        {% if params.tiktok %}
          <a href="{{params.tiktok|default:'https://tiktok.com'}}" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        {% endif %}
      </div>

      <div class="links d-flex gap-4">
        {% for link in params.heabar_links %}
          <a href="{{link.url}}">{{link.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <nav class="navigation">
    <div class="container d-flex justify-content-between align-items-center">

      <a class="navbar-brand" href="/">
        <img src="{{request.site.logo}}" alt="{{request.site.name|default:'logo'}}" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="humburger nav-icon-5">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div
        class="navbar-wrapper"
        id="navbarSupportedContent"
      >
          <ul class="navbar-items">
            {% for link in params.links %}
              <li class="nav-item">
                <a class="nav-link text-capitalize" href="{{link.url}}">{{link.name}}</a>
              </li>
            {% endfor %}
          </ul>

          <a 
            href="{{params.btn.url|default:'#contact'}}" 
            class="btn {{params.btn.classes|default:'btn-primary'}}"
            data-action="scrollTo"
          >{{params.btn.text|default:'Get in Touch'}}<i class="fa-solid fa-arrow-right-long ms-2"></i>
          </a>
      </div>
    </div>
  </nav>
</header>