{% load generate_type_data assign_variable create_variable get_translate_value %}


{% if params.links %}
    {% generate_type_data request=request name="links" data="[{ 'name' : 'Accueil', 'url' : '#', 'tag' : 'home' }, { 'name' : 'Agence', 'url' : '#', 'tag' : 'agence' }, { 'name' : 'Services', 'url' : '#', 'tag' : 'services' }, { 'name' : 'Carriére', 'url' : '#', 'tag' : 'carrer' }, { 'name' : 'Contact', 'url' : '#', 'tag' : 'contact' } ]" %}
{% endif %}

{% if request.menus.header|length == 1 %}
    {% create_variable context=params name="links" value=request.menus.header.0.links %}
{% endif %}

<header>
  <nav class="navigation">
    <div class="container d-flex justify-content-between align-items-center">

      <a class="navbar-brand" href="/">
        <img src="{{request.theme.static}}/assets/images/logo.png" alt="{{request.site.name|default:'logo'}}" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="humburger nav-icon-5">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div
        class="navbar-wrapper"
        id="navbarSupportedContent"
      >
          <ul class="navbar-items">
            {% for link in params.links %}
              <li class="nav-item">
                <a class="nav-link text-capitalize" href="{{link.url}}">{{link.name}}</a>
              </li>
            {% endfor %}
          </ul>

          <a 
            href="{{params.btn.url|default:'#contact'}}" 
            class="btn {{params.btn.classes|default:'btn-primary'}}"
            data-action="scrollTo"
          >{{params.btn.text|default:'Get in Touch'}}<i class="fa-solid fa-arrow-right-long ms-2"></i>
          </a>
      </div>
    </div>
  </nav>
</header>