<section class="block_text-media">
  <div class="container py-5">
    <div class="block__wrapper {{params.order}} row">
      <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="block__text">
        <h2 class="block__title">
            {{params.title}}
        </h2>
       {{params.content_html|safe}}
       {% if params.button.url != "#" %}
       <div class="btn block__button">{{params.button.text}}</div>
       {%endif%}
      </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="block__media">
        {% if params.type == 'media_image'%}
        <img src="{{params.background_image}}" alt="">
        {% endif %}
        {% if params.type == 'media_video'%}
        <video controls width="100%">
          <source src="{{params.video}}">
        </video>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
</section>