{% load generate_type_data assign_variable create_variable get_translate_value %}
{% if params.links %}
  {% generate_type_data request=request name="links" data="[{ 'name' : 'Accueil', 'url' : '#', 'tag' : 'home' }, { 'name' : 'Agence', 'url' : '#', 'tag' : 'agence' }, { 'name' : 'Services', 'url' : '#', 'tag' : 'services' }, { 'name' : 'Carriére', 'url' : '#', 'tag' : 'carrer' }, { 'name' : 'Contact', 'url' : '#', 'tag' : 'contact' } ]" %}
{% endif %} 

{% if request.menus.header|length == 1 %} 
  {% create_variable context=params name="links" value=request.menus.header.0.links %} 
{% endif %}

<header>
  <div class="container">
    <div class="first-row d-flex flex-column flex-lg-row justify-content-between align-items-center py-3">
      <a class="navbar-brand mb-3 mb-lg-0" href="#">
        {% if request.site.logo %}
          <img src="{{request.site.logo}}" alt="{{request.site.name}}" />
        {% else %}
          LOGO
        {% endif %}
      </a>

      <div class="social-media d-flex gap-3 fs-4">
        {% if params.facebook %}
          <a href="{{params.facebook|default:'https://facebook.com'}}" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        {% endif %}

        {% if params.twitter %}
        <a href="{{params.twitter|default:'https://twitter.com'}}" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        {% endif %}

        {% if params.instagram %}
          <a href="{{params.instagram|default:'https://instagram.com'}}" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        {% endif %}

        {% if params.linkedin %}
          <a href="{{params.linkedin|default:'https://linkedin.com'}}" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        {% endif %}

        {% if params.youtube %}
          <a href="{{params.youtube|default:'https://youtube.com'}}" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        {% endif %}
        
        {% if params.tiktok %}
          <a href="{{params.tiktok|default:'https://tiktok.com'}}" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        {% endif %}
      </div>
    </div>

    <hr class="m-0" />

    <div class="second-row py-3">
      <nav class="navbar">
        <ul
          class="navbar-nav gap-3 gap-lg-4 justify-content-center flex-grow-1 flex-lg-grow-0"
        >
          {% for link in params.links %} {% if link.subs|length == 0 %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{link.url}}">
              {{link.name}}
            </a>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="{{link.url}}"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{link.name}}
            </a>

            <ul class="dropdown-menu">
              {% for sub in link.subs %}
              <li>
                <a class="dropdown-item" href="{{sub.url}}">{{sub.name}}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %} {% endfor %}
        </ul>

        <a
          class="navbar-link btn btn-primary"
          href="{{params.btn_link.url|default:'#contact'}}"
          data-action="scrollTo"
        >
          {{params.btn_link.name|default:'Get in touch'}}
          <i class="fa-solid fa-arrow-right-long ms-2"></i>
        </a>
      </nav>
    </div>
  </div>
</header>
