{% load get_widget  %}


<section class="gallery">
   <div class="container">
      <h2 class="gallerie__title py-5 text-center text-primary fw-bold">{{params.title}}</h2>
     <div class="gallery__carousel">
   <div id="gallery-carousel" class="splide" aria-label="My Awesome Gallery">
     <div class="splide__track">
       <ul class="splide__list">
         {% for gallery in params.gallery_media%}
         <li class="splide__slide">
           <img src="{{gallery.file}}" alt="">
         </li>
         {% endfor %}
       </ul>
     </div>
   </div>
 </div>
</div>
 </section>